# Build directories
build/
build-*/

# macOS
.DS_Store

# Audio renders
*.wav
*.aiff
*.aif
*.caf

# Xcode
*.xcodeproj/
*.xcworkspace/
DerivedData/


*.pkf

# Local CMake bundles
cmake-*-macos-universal/
cmake-*-macos-universal.tar.gz
